BODY
{
	font-family:Arial;
	font-size:12pt;
	color:navy;
}

.heading1
{
	font-size:large;
	font-weight:bold;
}

.heading2
{
	font-size:larger;
}

.Normal
{
}


.Image1 
{
	height : 24px;
	width:5px;
	background-image: url(nodeLeft.gif);
}
.Image2 
{
	height : 24px;
	width:5px;
	background-image: url(nodeLeft2.gif);
	}
.Image3 
{
	height : 24px;
	width:15px;
	background-image: url(nodeRight.gif);
}

.stringBindingDiv 
{
	height :24px; 
	vertical-align:bottom; 
	display:inline;
}
.stringBindingSpan 
{
	vertical-align :bottom;
	height:24px;
	background-color:#ccd5ff; 
	border-top : 1px solid #3690ff; 
	border-bottom : 1px solid #3690ff;
}
.stringBindingDefault 
{
	vertical-align :bottom;
	padding-left:5px;
	padding-right:5px;	
}