/* The style for the page containing the Perfectus controls */
body{ color:#114469; }
input {  	font-family: Arial, Helvetica, sans-serif;	background-color: #EEEEEE; 	border: 1px solid #6699CC; 	font-size: 12px; 	color:#114469;	margin-right:4px;}
select {  	font-family: Arial, Helvetica, sans-serif;    background-color: #EEEEEE; 	border: 1px solid #6699CC; 	font-size: 12px; 	color:#114469;}
textarea {  	font-family: Arial, Helvetica, sans-serif;    background-color: #EEEEEE; 	border: 1px solid #6699CC; 	font-size: 12px; 	color:#114469;}

/* The top menu bar (renders as an html div) */
div.topMenu{	margin:0px;	border: solid 1px #A8ADB1;	background-image:url(../images/title_background1.jpg);	background-color:#F8F8F8;	width:98%;	white-space: nowrap;	margin-bottom : 5px;}
/* The top menu (renders as an html table) */
div.topMenu table{	width:100%;	height: 25px;	white-space:nowrap;}
div.topMenu table td.leftIcon{	background-image:url(../images/easyinterview_icon.gif);	background-repeat:no-repeat;	white-space:nowrap;	width:22px;	height:24px;	}
div.topMenu table td.packageTitle{	height:25px;	font-family:Arial, Helvetica, sans-serif;	color:#003366;	white-space:nowrap;	font-weight:bold;	font-size:.75em;}
div.topMenu table td.rightOptions{	vertical-align:middle;	text-align:right;	font-size:0.6em;	white-space:nowrap;}
div.topMenu A{	background-position: 0px 0px;	background-repeat:no-repeat;	padding-left:22px;	padding-right:10px;	margin-left:10px;	height:17px;	padding-top:2px;	padding-bottom:2px;	white-space:nowrap;}
div.topMenu A.openFrom{	background-image:url(../images/open.gif);	white-space:nowrap;}
div.topMenu A.openFromLocal{	background-image:url(../images/open.gif);	white-space:nowrap; }

/*The Status Control */
.status{ margin: 5px;	padding: 0px;	font-family:Arial, Helvetica, sans-serif; font-size: 0.70em; }

.status a:visited { color: #0099FF; text-decoration: none;}
.status a:active { color: #0099FF; text-decoration: none;}
.status a:link { color:  #0099FF; text-decoration: none;}
.status a:hover { color: black; text-decoration: underline; } 

.statusTable{ 	width: 98%;	margin:0px;}
.status .sectionLeft{    border-top: solid 1px #A8ADB1;    border-left: solid 1px #A8ADB1;    border-bottom: solid 1px #A8ADB1;    height: 27px;}
.status .sectionLeftImages{    background-image:url(../Images/title_background1.jpg);  border-top: solid 1px #A8ADB1;    border-left: solid 1px #A8ADB1;    
	border-bottom: solid 1px #A8ADB1;    height: 27px;  padding: 5px 7px 3px 7px; } 
.status .sectionLeftImages img { vertical-align: middle;  }                               
.status .sectionLeftText{    font-weight:bold;    vertical-align: middle;    height: 20px;    margin-left: 5px;    padding-top: 0px;    padding-bottom: 2px;    font-size: .75em;} 
.status .sectionRight{    cursor:pointer;    text-align:center;    font-weight:bold;    border-top: solid 1px #A8ADB1;   border-right: solid 1px #A8ADB1;    border-bottom: solid 1px #A8ADB1;    height: 27px;}
.status .sectionRightImages{    background-image:url(../Images/title_background1.jpg);    cursor:pointer;    text-align:right;    padding-right:30px;    border-top: solid 1px #A8ADB1;
    border-right: solid 1px #A8ADB1;    border-bottom: solid 1px #A8ADB1;    height: 27px;} 
.status .header{    border-bottom:solid 1px #A5AEB5;    padding-top: 10px;    font-size: .85em;    padding-left: 5px;}
.status .headerNoUnderLine{    padding-top: 10px;    font-size: .85em;    padding-left: 5px;}

.status .interviewReference{  font-size: 1.02em; }
.status .interviewFailed{   font-size: 1.02em; color:Gray; }
.status .interviewClone{    font-size: 1.02em;	}
.status .interviewClone:visited, .status .interviewClone:active,  .status .interviewClone:link  { color: #006600; text-decoration: none;}
.status .interviewClone:hover  { color: black; text-decoration: underline; }

.status .footer{		text-align:right;	width:100%;}
.status .packageInfo{    color: #A5AEB5; }
.status .packageHeader{    vertical-align:top;    border-top:solid 1px #A8ADB1;    border-bottom:solid 1px #F0F0F0;    padding-top: 10px;}
.status .showHide{    width:25px;    vertical-align:top;    padding-top: 15px;    padding-right: 5px;    text-align:right;    border-top:solid 1px #A8ADB1;    border-bottom:solid 1px #F0F0F0;}
.status .showHidePointer{	cursor:pointer;}
.status .instanceInfo{   vertical-align:top;    border-bottom:solid 1px #F0F0F0;    padding-top: 5px;    padding-bottom: 5px;    padding-left: 5px;    font-size: 0.84em;    white-space: nowrap;}
.status .instanceInfoPlusMinus{    vertical-align:middle;    border-bottom:solid 1px #F0F0F0;    padding-top: 5px;   padding-bottom: 5px;    padding-left: 5px;    font-size: 0.84em;    white-space: nowrap;    width : 15px;}
.status .instanceInfoTransact{    vertical-align:middle;    border-bottom:solid 1px #F0F0F0;    padding-top: 5px;    padding-bottom: 5px;    padding-left: 2px;    font-size: 0.84em;    white-space: nowrap;}
.status .instanceInfoRef{    vertical-align:top;    border-bottom:solid 1px #F0F0F0;    padding-top: 5px;    padding-bottom: 5px;    padding-left: 5px;    font-size: 0.84em;    white-space: nowrap;}
.status .instanceInfoPackage{    vertical-align:top;    border-bottom:solid 1px #F0F0F0;    padding-top: 5px;    padding-bottom: 5px;    padding-left: 5px;    font-size: 0.84em;    white-space: nowrap;}
.status .instanceInfoCreated{    vertical-align:top;    border-bottom:solid 1px #F0F0F0;    padding-top: 5px;    padding-bottom: 5px;    padding-left: 5px;    font-size: 0.84em;    white-space: nowrap;}
.status .instanceInfoStatus{    vertical-align:middle;    border-bottom:solid 1px #F0F0F0;    padding-top: 5px;    padding-bottom: 5px;    padding-left: 5px;    font-size: 0.84em;    white-space: nowrap;}
.status .instanceInfoDelete{    vertical-align:middle;    border-bottom:solid 1px #F0F0F0;    padding-top: 5px;    padding-bottom: 5px;    padding-left: 5px;    font-size: 0.84em;    white-space: nowrap;}
 .status .paging{    vertical-align:top;    padding-top: 5px;    padding-bottom: 5px;    padding-left: 30px;    font-size: 0.83em;}
.status .instanceDel{	vertical-align:middle;    font-size: small;color:#cc00ff;	border-bottom:solid 1px #F0F0F0;	text-align: center;}

.status .currentPage:link,.status .currentPage:visited,.status .currentPage:active{	color:#003366;	padding-left: 2px;	}
.status .notCurrentPage:visited, .status .notCurrentPage:active, .status .notCurrentPage:link { color:#A5AEB5;  padding-left: 2px; text-decoration: none;}

.status .disDocName{	vertical-align:middle;	border-bottom:solid 1px #F0F0F0;	padding-top: 5px;	padding-bottom: 5px;	padding-left: 5px;	font-size: 0.84em;	white-space: nowrap;	color:#A5AEB5;}
.status .disInfo{	vertical-align:middle;	border-bottom:solid 1px #F0F0F0;	padding-top: 5px;	padding-bottom: 5px;	padding-left: 5px;	font-size: 0.84em;	white-space: nowrap;}
.status .disCreated{	padding-left : 20px;	padding-top: 2px;}
.status .disRow{	vertical-align:middle;	border-bottom:solid 1px #F0F0F0;	padding-top: 5px;	padding-bottom: 5px;	padding-left: 5px;	font-size: 0.84em;	white-space: nowrap;}

/* The status control, error pop up */
div.errorPopup
{
	margin:5px;
	border: solid 1px #A8ADB1;
	background-color:#F8F8F8;
	width:265px;
	white-space: nowrap;
	background-image:url(../images/error_background3.jpg);
	background-repeat: repeat-x;
	position:absolute; 
	top:100px; 
	left:100px; 	
    z-index:99;  
    visibility:hidden;
    display: none;
}


/* The table containing the error information (renders as an html table) */
div.errorPopup table
{
	width:100%;
}
/* The table cell containing the main title */
div.errorPopup table td.errorHeader 
{
	height:25px;
	width:24px;
	font-family:Arial, Helvetica, sans-serif;
	color:#003366;	
	white-space:nowrap;
	font-weight:bold;
	font-size:.75em;
	border-bottom: solid 1px #A8ADB1;
}
/*the table cell on the main row containing the close box link */
div.errorPopup table td.closeBoxCell
{
	background-repeat:no-repeat;
	background-position:right;
	background-image: url(../images/closeerror.gif);
	padding-top:2px;
	height:25px;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	color:#A5AEB5;	
	padding-right: 15px;
	border-bottom: solid 1px #A8ADB1;
	text-align : right;	
	/*text-decoration : underline;*/
}

/* The left table cell containing the main error graphic */
div.errorPopup table td.errorLeftMainIcon
{
	background-image:url(../images/error_pop.gif);
	background-repeat:no-repeat;
	white-space:nowrap;
	width:24px;
	height:24px;
	border-bottom: solid 1px #A8ADB1;
}
/* The left table cells containing the subsidiary error graphics */
div.errorPopup table td.errorLeftSubIcon
{
	background-image:url(../images/error_popgrey.gif);
	background-repeat:no-repeat;
	white-space:nowrap;
	width:24px;
	height:20px;
}
/* The left table cells containing no subsidiary error graphics */
div.errorPopup table td.errorLeftCell
{
	width:24px;
	height:20px;
}
/* The table cells containing error titles */
div.errorPopup table td.errorTitle
{
	width:228px;
	height:20px;
	font-size:.70em;
	font-weight:bold;
	padding-right: 2px;
}
/* The table cells containing error friendly messages */
div.errorPopup table td.errorFriendlyMessage
{
	width:228px;
	height:20px;
	font-size:.70em;
	color:#A5AEB5;	
	padding-right: 2px;
}
/* The table cells containing error detail messages */
div.errorPopup table td.errorDetailMessage
{
	width:228px;
	height:20px;
	font-size:.70em;
	color:#A5AEB5;	
	padding-right: 2px;
}
/* The table cells containing error module messages */
div.errorPopup table td.errorModule
{
	width:228px;
	height:20px;
	font-size:0.7em;
	color:#A5AEB5;	
	padding-right: 3px;
}


body.preview
{
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
	margin:5px 20px 5px 20px;
	text-align:justify;
	background-color:#ffffff;
	list-style-image: url(../images/bullet.gif);
	list-style-position:outside;
	height:100%;
	display:inline;
}

/* bug fix for IE, which was causing hidden divs to have a break at top and bottom*/
.previewFrameBody .Normal-P
{
	display:inline;	
}

div.previewpopup {
	background-image:url(../images/divtitle_background.jpg);
	border: 1px solid #A8ADB1;
	visibility:hidden;
	color:#A5AEB5;
	width:300px;
	position:absolute;
	z-index:1;
}

div.previewpopup table.detail
{
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	width:95%;
}

div.previewpopup tr.header td
{
	border-bottom:1px solid silver;
}

div.previewpopup tr.title {
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
	font-weight:bold;
	color:#003365;
}
div.previewpopup tr.normal {
	background-color: #f8f8f8;
	height:60px;
	vertical-align:top;
}

div.previewpopup td.outcomeTitle {
	background-image:url(../images/outcome.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:20px;
	height:20px;
}

div.previewpopup td.questionTitle {
	background-image:url(../images/question.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:20px;
	height:20px;
}

div.previewpopup td.outcome {
	background-image:url(../images/outcome.gif);
	background-repeat:no-repeat;
	background-position:left;
	width:20px;
	height:20px;
}

div.previewpopup td.simpleOutcome {
	background-image:url(../images/simpleOutcome.gif);
	background-repeat:no-repeat;
	background-position:left;
	width:20px;
	height:20px;

}


div.previewpopup td.question {
	background-image:url(../images/question.gif);
	background-repeat:no-repeat;
	background-position:left;
	width:20px;
	height:20px;
}
div.previewpopup td.function {
	background-image:url(../images/function.gif);
	background-repeat:no-repeat;
	background-position:left;
	width:20px;
	height:20px;
}


.previewhighline:active{
background-color:#E9E9E9;
color:#000000;
border-bottom-width: 0px;
border-top-width:0px;
border-left: 4px solid #2AA2D7;
border-right: 4px solid #2AA2D7;
padding:0px 2px 0px 2px;
}
.previewhighline:link{
background-color:#E9E9E9;
color:#000000;
border-bottom-width: 0px;
border-top-width:0px;
border-left: 4px solid #2AA2D7;
border-right: 4px solid #2AA2D7;
padding:0px 2px 0px 2px;
}
.previewhighline:visited{
background-color:#E9E9E9;
color:#000000;
border-bottom-width: 0px;
border-top-width:0px;
border-left: 4px solid #2AA2D7;
border-right: 4px solid #2AA2D7;
padding:0px 2px 0px 2px;
}
.previewhighline:hover{
background-color:#D7E2E6;
color:#000000;
border-bottom-width: 0px;
border-top-width:0px;
border-left: 4px solid #2AA2D7;
border-right: 4px solid #2AA2D7;
padding:0px 2px 0px 2px;
}

.previewlink:visited { 
	border: 1px solid #2AA2D7; 
	background-color:#D7E2E6; 
	color:#000000; 
	text-decoration: none; 
	padding:0px 5px 0px 5px;
}
.previewlink:active { 
	border: 1px solid #2AA2D7; 
	background-color:#D7E2E6; 
	color:#000000; 
	text-decoration: none;
	padding:0px 5px 0px 5px;
}
.previewlink:link { 
	border: 1px solid #2AA2D7; 
	background-color:#D7E2E6; 
	color:#000000; 
	text-decoration: none;
	padding:0px 5px 0px 5px;
}
.previewlink:hover {
	border: 1px solid #2AA2D7;
	background-color:#D7E2E6;
	color:#000000;
	text-decoration: none;
	padding:0px 5px 0px 5px;
}

/* question text */
.previewqtext 
{
	color:#A5AEB5;
}

/* question link */
.previewqlink:visited { 
	color: #0099FF; 
	text-decoration: none; 
}
.previewqlink:active { 
	color: #0099FF; 
	text-decoration: none;
}
.previewqlink:link { 
	color: #0099FF; 
	text-decoration: none;
}
.previewqlink:hover {
	color: #28B2FA;
	text-decoration: none;
}


