/* Reports */
body
{
	 font-family:Arial, Helvetica, sans-serif; 	
}
div.reportsTop
{
	margin:5px;
	border: solid 1px #A8ADB1;
	background-image:url(../images/title_background1.jpg);
	background-color:#F8F8F8;
	width:100%;
	white-space: nowrap;
}

div.reportsTop table
{
	width:100%;
	height: 25px;
	white-space:nowrap;
}

div.reportsTop table td.leftIcon
{
	background-image:url(../images/reports/report.gif);
	background-repeat:no-repeat;
	background-position: center middle;

	white-space:nowrap;
	width:16px;
	height:16px;
}
div.reportsTop table td.packageTitle
{
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	color:#003366;
	white-space:nowrap;
	font-weight:bold;
	font-size:.75em;
}

div.reportsTop table td.rightBack
{
	vertical-align:middle;
	text-align:right;
	font-size:0.6em;
	white-space:nowrap;
	background-image:url(../images/reports/back.gif);
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}

div.reportsTop table td.refreshBack
{
	vertical-align:middle;
	text-align:right;
	font-size:0.6em;
	white-space:nowrap;
	background-image:url(../images/reports/refresh.png); /*todo. make .gif */
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}

.reportTable
{
	width : 100%;	
}

.reportTable table
{
	width : 100%;	
}

.outsideReportTable
{
	width : 100%;	
}

.outsideReportTable table
{
	width : 100%;	
}


.reportTable td
{ 
	/*width: 98%;*/
	margin:0px;	
	padding-right : 10px;
}
.report .reportInfo
{
    vertical-align:top;
    border-bottom:solid 1px #F0F0F0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 0.84em;
    white-space: nowrap;
}
.report .header
{   
    border-bottom:solid 1px #A5AEB5;
    padding-top: 10px;
    font-size: .85em;
    padding-left: 5px;
}
.iconLeft
{
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

div.report td.LibraryItemName
{
	padding : 3px;
	padding-right : 30px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	color:#003366;
	white-space:nowrap;
	font-weight:bold;
	font-size:.75em;
}

div.report td.NoRecordCell
{
	padding-top : 20px;
	font-size:.70em;
}

div.report td.LibraryItemImageCell
{
	padding : 3px;
}

div.report td.PackageNameImageCell
{
	padding-top :3px;
	padding : 3px;
}

div.report td.PackageName
{
	padding : 3px;	
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
	color:#003366;
	white-space:nowrap;
	font-weight:bold;
	font-size:.70em;
}

div.report a.PackageLink
{
	color:#003366;
}

div.report td.searchCell
{
	font-family:Arial, Helvetica, sans-serif;
	color:#003366;
	white-space:nowrap;	
	font-size: 0.70em;
	font-weight : bold;
	text-align : right;	
}


div.report input.btnGo
{
	width : 33px;
	height : 25px;
}

div.report input 
{
	width : 100px;
	border : 1px solid #003366;
	background-color : #efefef;
	margin : 3px;
}


/*Calendar */

/* The calendar control - textbox, button and pop-up */
.calendarNotpopped .button
{
	margin-right:0px;
	background-image: url(../images/calendar.gif);
	background-repeat: no-repeat;	
	background-color: #FFFFFF;
	padding-bottom: 2px;
	padding-right: 0px;
	padding-top: 2px;
	vertical-align: middle;
	white-space: nowrap;
	width : 30px;
	border : 0px;
}

.calendarNotpopped .textboxLabel
{
	background-color: #EEEEEE; 
	border: 1px solid #6699CC; 
	color:#114469;
	/*margin-right:4px;*/
}

/* The calendar's pop-up styles - these are rendered dynamically, so are not children of the .interview class */
.monthHeader
{
	font-size:.85em;
	text-decoration:none;
	background-color:#114469;
	color:white;
}

/* M T W Th F S S */
.dayHeader
{
	font-size:0.68em;
	background-color:#EEEEEE;
	color:#114469;
	font-weight: bold;
}

/* days that are in the month either side of the selected month (e.g. 30, 31 of the previous, 1, 2 and 3 of the next) */
.offMonth
{
	font-size:smaller;
	background-color:#FFFFFF;
	color:#FFFFFF;
}

/* Day numbers for M -> F */
.weekday
{
	font-size:smaller;
	color:#114469;
	background-color:#EEEEEE;
}

/* Day numbers for Sat, Sun */
.weekend
{
	font-size:smaller;
	background-color:#EEEEEE;
	color:#114469;
}

/* The 'today's date' row beneath the calendar */
.goToToday
{
	font-size:.75em;
	background-color:#EEEEEE;
	color:#114469;
}

/* The 'Clear Date' link */
.clearDate
{
	font-size:smaller;
	background-color:#114469;
	color:#114469;
}

/* The selected date */
.selectedDate
{
	font-weight:bold;
	background-color:#114469;
	color:White;
	font-size:smaller;
}

/* The cell containing today's date */
td.todayDate
{
	border:solid 1px #114469;
}

/* The number (link) for today's date */
.todayDate
{
	font-size:smaller;
	background-color:White;
	color:#114469;
}
	